@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
}

.notification {
  bottom: 0;
  transform: translateY(-50%);
  animation: slide-up 1s ease-in-out forwards, disappear 1s 5s forwards;
}

@keyframes slide-up {
  0% {
    transform: translateY(100%);
  }
  50% {
    transform: translateY(-50%);
  }
}

@keyframes disappear {
  100% {
    opacity: 0;
  }
}
